{% extends "admin/change_list.html" %}
{% load i18n admin_urls static admin_list %}

{% block content_title %}<h1> Added new Filters</h1>    {% endblock %}




{% block filters %}
    {% if cl.has_filters %}

    <style>@media only screen  {
            .PG1
            
            {
                
                position:absolute;bottom:1%;
                margin: 0 0 0 0px;
                
            
            
            }
        }

    </style>

    <div class="PG1 ">
          <div id="changelist-filter">
            <h2 style="font-style:bold">Try New Filter  </h2>
            {% if cl.preserved_filters %}
                                <h3 id="changelist-filter-clear">
                                <a href="?{% if cl.is_popup %}_popup=1{% endif %}">&#10006; {% trans "Clear all filters" %}</a>
            </h3>{% endif %}
            {% for spec in cl.filter_specs %}{% admin_list_filter cl spec %}{% endfor %}
          </div>
    </div>
    {% endif %}

{% endblock %}
