
*.log
*.pot
*.pyc
*/*/*/__pycache__/
*/*/__pycache__/
*/__pycache__/

/venv

/static/*
/static_assets/*

/media/*/*.*
/media/*/*/*.*
/media/*/*/*/*.*
/media/*/*/*/*

data
CustomAdmin/static_assets/*
